@model CineVault.ModelLayer.ModelMovie.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        @foreach (var prop in new[] { "TMDBId", "Title", "Seen", "Score", "Year" })
        {
            <dt class="col-sm-2">@prop</dt>
            <dd class="col-sm-10">@Model.GetType().GetProperty(prop).GetValue(Model)</dd>
        }
    </dl>

    @foreach (var collection in new[] {
    ("Acteurs", Model.MovieActors.Cast<object>(), "Actor", "ShowMoviesFromActor"),
    ("Regisseurs", Model.MovieDirectors.Cast<object>(), "Director", "ShowMoviesFromDirector")
    })
    {
        <h5>@collection.Item1</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 80%;">Naam</th>
                    <th style="width: 20%; text-align: right;">Actie</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in collection.Item2)
                {
                    var person = item.GetType().GetProperty(collection.Item3).GetValue(item);
                    var personId = (int)person.GetType().GetProperty("Id").GetValue(person);
                    var personName = person.GetType().GetProperty("Name").GetValue(person);

                    <tr>
                        <td>@personName</td>
                        <td>
                            <a asp-action="@collection.Item4" asp-route-id="@personId">Select</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
    @* <a asp-action="Delete" asp-route-id="@Model.Id">Verwijder film</a> *@
    <a asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Weet je zeker dat je deze film wilt verwijderen?');">Verwijder film (met bevestiging)</a>
</div>
