@model CineVault.ModelLayer.ModelMovie.Movie

@{
    ViewData["Title"] = "Details";
}

<h1 class="title-colored">Filmdetails: @Model.Title</h1>

<partial name="/Views/Shared/SearchBox.cshtml"></partial>

<div>
    <h4 style="color: white;">Films</h4>
    <hr />
    <div style="background-color: beige; color: black; border-radius: 10px; padding: 10px;">
        <dl class="row">
            @foreach (var prop in new[] { "Title", "Seen", "Score", "Year" })
            {
                <dt class="col-sm-2">@prop</dt>
                <dd class="col-sm-10">@Model.GetType().GetProperty(prop).GetValue(Model)</dd>
            }
        </dl>
    </div>


    @foreach (var collection in new[] {
    ("Acteurs", Model.MovieActors.Cast<object>(), "Actor", "ShowMoviesFromActor"),
    ("Regisseurs", Model.MovieDirectors.Cast<object>(), "Director", "ShowMoviesFromDirector")
    })
    {
        <h5 class="white-title">@collection.Item1</h5>
        <table class="table table-striped" style="background-color: beige; color: black; border-radius: 10px; padding: 10px;">
            <thead>
                <tr>
                    <th style="width: 100%;">Naam</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in collection.Item2)
                {
                    var person = item.GetType().GetProperty(collection.Item3).GetValue(item);
                    var personId = (int)person.GetType().GetProperty("Id").GetValue(person);
                    var personName = person.GetType().GetProperty("Name").GetValue(person);

                    <tr>
                        <td>
                            <a asp-action="@collection.Item4" asp-route-id="@personId" class="klick-link">@personName</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Weet je zeker dat je deze film wilt verwijderen?');">Verwijder film</a>
</div>

<script src="~/js/SearchFilter.js" asp-append-version="true"></script>