@model IEnumerable<CineVault.ModelLayer.ModelMovie.Movie>

@{
	ViewData["Title"] = "Index";
}

<h1 class="title-colored">Index</h1>

<table class="table" style="background-color: beige; color: black; border-radius: 10px; padding: 10px;">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Seen)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Score)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Year)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Title)</td>
				<td>@Html.DisplayFor(modelItem => item.Seen)</td>
				<td>@Html.DisplayFor(modelItem => item.Score)</td>
				<td>@Html.DisplayFor(modelItem => item.Year)</td>
				<td>
					@*action is de actie de we willen uitvoeren. Route is de naam in de URL.*@
					<a asp-action="Details" asp-route-id="@item.Id">Filmdetails</a>
					<a href="#" class="toggle-seen" data-id="@item.Id">Gezien of niet gezien</a>
					<a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Weet je zeker dat je deze film wilt verwijderen?');">Verwijder film</a>
				</td>
			</tr>
		}
	</tbody>

</table>

@*script is nodig om javascript in te laden*@
<script>
		$(document).ready(function(){
		$(".toggle-seen").click(function (event) {
		event.preventDefault();
		var movieId = $(this).data("id");

		$.ajax({
			url: "/Movie/ToggleSeen",  // Your backend endpoint
			type: "POST",
			data: { id: movieId },
			success: function (response) {
				location.reload();
			},
			error: function () {
				alert("Something went wrong!");
			}
		});
	});
	});
</script>