@model IEnumerable<CineVault.ModelLayer.ModelMovie.Director>

@{
    ViewData["Title"] = "SearchByDirector";
}

<h1>SearchByDirector</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imdb_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imdb_ID)
            </td>
            <td>
                    <a asp-action="ShowMoviesFromDirector" asp-route-id="@item.Id">Select</a>
            </td>
        </tr>
}
    </tbody>
</table>
