@model IEnumerable<CineVault.ModelLayer.ModelMovie.Movie>

@{
	ViewData["Title"] = "ShowMoviesFromActor";
}

<h1>ShowMoviesFromActor</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.IMDBId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Seen)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Score)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Year)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.IMDBId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Seen)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Score)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>
